# Ignore node modules
node_modules/

# Ignore logs
*.log

# Ignore environment files
.env

# Ignore OS files
.DS_Store
Thumbs.db

# Ignore build folders
dist/
build/

# Ignore IDE/editor files
.vscode/
.idea/

# temp files
resume.pdf
resume.md

generated/prisma

generated/

.cache/
